<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Title</title>
</head>
<body>

    <h1>Test heading 1</h1>
    <h4>Test heading 4</h4>
    <p>Test p</p>
    <p>data passed down from server: <%= test_data || "default text" %></p>

</body>
</html>
